$primary-dark: #76b400;
$bg-color: #1d1d1d;
$bg-dark: #101010;
$white: #fff;

$text-color: #1A202C;
$light-text: rgba(255,255,255, 0.50);
$primary-light: #90A3BF;
$border-radius: 10px;
$shadow: 4px 4px 32px rgba(16, 50, 147, 0.32);
$base-border: #c4c4c4;
$focus-shadow: rgba(119, 186, 248, 0.5);
$shadow-drop: rgba(0, 0, 0, 0.15);

