.hero{
    width: 100%;
    height: 70vh;
    .slider{
        width: 100%;
        height: 100%;
        .slider-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


@media screen and (max-width:720px) {
    .hero{
        height: 40vh!important;
    }
}