
.col {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-between {
    align-items: center;
    justify-content: space-between;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.mb-12{
    margin-bottom: 24px;
}
.configueCard{
    margin-left: -12px;
    margin-right: -12px;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
/* Grid System */
.container {
    width: 90%;
    padding: 20px 24px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.mLRM-12{
    margin: 0 -12px;
}
.box {
    height: 80px;
    padding: 28px;
    background-color: #00aaff;
    border: 1px solid #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-lr-12{
    padding: 0 12px;
}
.p-12{
    padding: 12px;
}
.card{
    padding: 12px;
    min-height: 150px;
}
.mb-12{
    margin-bottom: 12px;
}
.d-block{
    display: block!important;
}
@media screen and (min-width: 1024px) {
    .container {
        padding: 20px 60px;
    }
}


/* Medium screens (min-width: 768px) */
@media screen and (min-width: 768px) {
    .col-md-1 {
        flex: 0 0 8.33%;
        max-width: 8.33%;
    }

    .col-md-2 {
        flex: 0 0 16.66%;
        max-width: 16.66%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .col-md-5 {
        flex: 0 0 41.66%;
        max-width: 41.66%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex: 0 0 58.33%;
        max-width: 58.33%;
    }

    .col-md-8 {
        flex: 0 0 66.66%;
        max-width: 66.66%;
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }

    .col-md-11 {
        flex: 0 0 91.66%;
        max-width: 91.66%;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Large screens (min-width: 992px) */
@media screen and (min-width: 940px) {
    .col-lg-1 {
        flex: 0 0 8.33%;
        max-width: 8.33%;
    }

    .col-lg-2 {
        flex: 0 0 16.66%;
        max-width: 16.66%;
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .col-lg-5 {
        flex: 0 0 41.66%;
        max-width: 41.66%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 58.33%;
        max-width: 58.33%;
    }

    .col-lg-8 {
        flex: 0 0 66.66%;
        max-width: 66.66%;
    }

    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }

    .col-lg-11 {
        flex: 0 0 91.66%;
        max-width: 91.66%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
